$link-color: #0366d6;
.body{
	width: 60%;
	margin: 0 auto;
	border: 1px solid gray;
	a{
		color: $link-color;
	}
}
.domains{
	border: 1px solid lighten(gray, 30%);
	padding: 20px;
	.domain-item{
		border-bottom: 1px solid lighten(gray, 30%);
		&.current{
			color: green;
		}
	}
	.current a{
		color: #24292e;
	}
}
.pages{
	border: 1px solid lighten(gray, 30%);
	padding: 20px;
	.keywords{
		margin-bottom: 10px;
		overflow: hidden;
		.keyword{
			float: left;
			display: inline-block;
			border: 1px solid lighten(gray, 30%);
			border-radius: 5px;
			padding: 5px;
			margin-top: 5px;
			margin-right: 5px;
			&:last-child{
				margin-right: 0;
			}
		}
	}
	.page-item{
		.page-field{
			margin-bottom: 5px;
		}
	}
}
#pagination{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	.disabled{
		color: lighten(gray, 10%);
	}
	.page{
	}
	.current{
		text-decoration: underline;
		font-weight: bold;
	}
}